@import "bootstrap/scss/bootstrap";

// gestion des images
img {
    width: 100%;
    height: auto;
}
.img-product {
    width: 80%;
    height: auto;
}
.custom-text {
    color: white !important;
}
.cart-container {
    margin-left: auto;
    /* Place le conteneur de panier à droite */
}

.cart-container .nav-link {
    display: flex;
    align-items: center;
}

.cart-container .nav-link i {
    margin-right: 5px;
    /* Marge à droite de l'icône du panier */
}