@import "bootstrap/scss/bootstrap";

// Gestion des images
img {
    width: 100%;
    height: auto;
}

.img-product {
    width: 80%;
    height: auto;
}

.custom-text {
    color: white !important;
}

// Conteneur du panier
.cart-container {
    margin-left: auto; // Place le conteneur de panier à droite
    display: flex;
    align-items: center;
    gap: 10px; // Espace entre les éléments
}

// Styles des liens du conteneur du panier
.cart-container .nav-link {
    display: flex;
    align-items: center;
}

.cart-container .nav-link i {
    margin-right: 5px; // Marge à droite de l'icône du panier
}

// Icône du panier
.cart-icon {
    font-size: 1.5rem;
}

// Compteur du panier
#cart-count {
    margin-left: 5px;
    font-size: 1rem;
}

// Styles des éléments de la liste de produits
.list-group-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.list-group-item .btn {
    min-width: 40px;
}

// Logo
.logo {
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

// Texte du logo
.logo-text {
    color: #333;
}

// Surlignage du logo
.logo-highlight {
    color: #007bff; // Utilisation d'une couleur bleue pour le "JS"
    margin-left: 0.2rem;
    padding: 0.1rem 0.3rem;
    border-radius: 5px;
    background-color: #f0f0f0; // Fond léger pour "JS" (optionnel)
}

// Ajustements pour les petits écrans
@media (max-width: 768px) {
    .logo {
        font-size: 1.5rem;
    }
}